.arrow {
width: 70%;
}

.btn-float{
  margin-top: 10px;
}

.greeting-section{
  margin: 0 10px;
}

.greetings-text-container {
  margin: 0 auto 40px;
  flex-direction: column;
}

.g1 {
  font-size: 6.5em;
  line-height: 1em;
  display: block;
  font-weight: 700;
  padding-right: 170px;
}

.g2{
  font-size: 3.8125em;
  line-height: .85em;
  display: block;
  padding-right: 30px;
}

.g3 {
  font-size: 6em;
  line-height: .78em;
  display: block;
  font-weight: 700;
  color: #41969c;
  padding-top: 10px;
  padding-right: 180px;
}

.g4 {
  font-size: .9em;
  line-height: 1.7em;
  display: block;
  padding-right: 100px;
}

.g5 {
  font-size: 4.5em;
  display: inline-block;
  font-weight: 700;
  color: #41969c;
  line-height: 1.1em;
  padding-right: 10px;
}

.g6 {
  margin-left: .3em;
  margin-right: -10px;
}

.g7 {
  font-size: 2.3em;
  display: block;
  line-height: 1.12em;
  font-weight: 700;
  color: #41969c;
  text-align: center;
  margin-bottom: 9px;
}

.g8 {
  display: block;
  font-size: 3em;
  line-height: 1em;
  padding-left: 10px;
}

/**********************************
Media Queries
***********************************/
/**********
Mobile
***********/
.greetings-main-container {
  height: 600px;
  font-size: .75em;
  background-color: orange;
  flex-direction: column;
  justify-content: flex-end;
}

.greetings-text-container {
  margin: 0;
  justify-content: center;
  align-items: center;
}

.greetings-img {
  width: 100%;
  max-width: 300px;
}

/**********
Tablet
***********/
@media only screen and (min-width: 768px) {
  .greetings-main-container {
    height:450px;
    flex-direction: row-reverse;
    background-color: white;
    align-items: center;
  }

  .greetings-img {
    max-width: 572px;
    margin-top: 64px;
    margin-right: -15em;
  }
}

/**********
Desktop
***********/
@media only screen and (min-width: 1024px) {
  .btn-float{
    margin-top: 20px;
  }
  .greetings-main-container {
    height:472px;
  }

  .greetings-img {
    max-width: 700px;
    margin-top: 0px;
    margin-right: -15em;
  }
}
