/**********************************
Media Queries
***********************************/

/**********
Mobile
***********/
.floating-button{
  z-index: 300;
  position: relative;
}

.popover {
  margin-left: 90px;
  margin-right: 20px;
}
.popover-message {
  padding: 10px;
  font-size: 24px;
}

.homesection-banner-mobile {
  color: transparent;
  text-indent:-9999px;
  background: url('../../../../assets/about2.png') no-repeat fixed;
  background-size: contain;
  background-position: center;
  height: 60vh;
  margin: 0;
  margin-bottom: -50px;
}

.homesection-banner-desktop {
  color: transparent;
  text-indent:-9999px;
  background: url('../../../../assets/about2.png') no-repeat fixed;
  background-size: contain;
  background-position: center;
  height: 80vh;
  margin: 0;
  margin-bottom: -260px;
}

@media only screen and (min-width: 580px) {
  .popover {
    margin-left: 30px;
    margin-top: 100px;
  }

  .homesection-banner-mobile {
    color: transparent;
    text-indent:-9999px;
    background: url('../../../../assets/responsive.png') no-repeat fixed;
    background-size: 50%;
    background-position: center;
    height: 80vh;
    margin: 0;
    margin-bottom: -180px;
  }

  .homesection-banner-desktop {
    color: transparent;
    text-indent:-9999px;
    background: url('../../../../assets/responsive.png') no-repeat fixed;
    background-size: 50%;
    background-position: center;
    height: 80vh;
    margin: 0;
    margin-bottom: -260px;
  }
}

/**********
Tablet
***********/
@media only screen and (min-width: 768px) {
  .popover {
    margin-left: 5px;
    margin-top: 100px
  }

  .homesection-banner-mobile {
    color: transparent;
    text-indent:-9999px;
    background: url('../../../../assets/responsive.png') no-repeat fixed;
    background-size: 50%;
    background-position: center;
    height: 80vh;
    margin: 0;
    margin-bottom: -180px;
  }

  .homesection-banner-desktop {
    color: transparent;
    text-indent:-9999px;
    background: url('../../../../assets/responsive.png') no-repeat fixed;
    background-size: 50% ;
    background-position: center;
    height: 80vh;
    margin: 0;
    margin-bottom: -180px;

  }
}

/**********
Desktop
***********/
@media only screen and (min-width: 1024px) {

  .popover {
    margin-left: -330px;
    margin-top: 160px;
  }

  .homesection-banner-mobile {
    color: orange;
    background-size: 50% ;
  }

  .homesection-banner-desktop {
    color: transparent;
    width: 100%;
    background-size: 50% ;
  }
}
