/**********************************
Media Queries
***********************************/

/**********
Mobile
***********/
.banner-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  flex-direction: column;
}

.hello{
  flex-grow: 2;
  background-color: transparent;
  margin-top: 50px;
  position: relative;
}

/******  POPOVER   *****/
.popover {
  margin-left: 90px;
  margin-right: 20px;
}
.popover-message {
  padding: 10px;
  font-size: 24px;
}

/******  LANDING PAGE IMAGE   *****/
.homesection-banner-mobile {
  background: url('../../../../assets/about2.png') no-repeat ;
  color: transparent;
  text-indent:-9999px;
  background-size: cover;
  width: 100%;
  height: 40vh;
  margin: 0;
}

.homesection-banner-mobile-blur {
  background: url('../../../../assets/about2.png') no-repeat ;
  color: transparent;
  text-indent:-9999px;
  background-size: cover;
  width: 100%;
  height: 40vh;
  margin: 0;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.homesection-banner-desktop {
  background: url('../../../../assets/about2.png') no-repeat ;
  color: transparent;
  text-indent:-9999px;
  background-size: cover;
  width: 100%;
  height: 40vh;
  margin: 0;

}

@media only screen and (min-width: 580px) {

/******  POPOVER   *****/
  .popover {
    margin-left: 30px;
    margin-top: 130px;
  }

  .homesection-banner-mobile {
    background: url('../../../../assets/responsive.png') no-repeat ;
    background-size: 50%;
    background-position: center;
    height: 80vh;
  }

  .homesection-banner-desktop {
    background: url('../../../../assets/responsive.png') no-repeat ;
    background-size: 50%;
    background-position: center;
    height: 80vh;
  }
}

/**********
Tablet
***********/
@media only screen and (min-width: 768px) {
  .banner-container {
    -webkit-flex-direction: row;
    flex-direction: row;
  }

/******  POPOVER   *****/
  .popover {
    margin-left: 5px;
    margin-top: 150px
  }
}

/**********
Desktop
***********/
@media only screen and (min-width: 1024px) {

/******  POPOVER   *****/
  .popover {
    margin-left: -130px;
    margin-top: 160px;
  }
}
