/**********************************
Media Queries
***********************************/
/*** MOBILE ***/
.skills-main-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ss-container {
  padding: 4em;
  margin: 25px;
  background-color: white;
}

.hs-container {
  padding: 4em;
  margin: 25px;
  background-color: white;
}

/*** TABLET ***/
@media only screen and (min-width: 768px) {
  .skills-main-container{
    flex-direction: row;
    justify-content: space-around;
  }
}

/*** DESKTOP ***/
@media only screen and (min-width: 1024px) {

}
