
/**********************************
Media Queries
***********************************/
/*** MOBILE ***/
.skills-main-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

.ss-container {
  width: 100%;
  margin-top: 0;
  margin-bottom: 25px;
  background-color: white;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.hs-container {
  width: 100%;
  margin: 25px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.ss-stronger {
  font-size: 3em;
  margin: 20px 0;
}

.ss-ul {
  padding: 0;
}

.hs-ul {
  padding: 0;
}

.hs-greater {
  font-size: 3em;
  margin: 20px 0;
}

strong {
  color: #41969c;
}

.hs-img {
  width: 0;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.ss-img {
  width: 0;
  margin: 0;
  margin-right: 10px;
  margin-left: 10px;
}

/*** TABLET ***/

@media only screen and (min-width: 768px) {
  .skills-main-container{
    flex-direction: row;
    justify-content: space-around;
  }

  .ss-container {
    padding-right: 25px;
    margin: 25px;
    margin-left: 2.5px;
    margin-right: 0;
    text-align: right;
    background-color: orange;
    justify-content: flex-start;
  }

  .hs-container {
    padding-left: 25px;
    margin-left: 0;
    margin-right: 2.5px;
    text-align: left;
    background-color: orange;
    justify-content: flex-start;
  }

  .ss-stronger {
    font-size: 2.5em;
  }

  .hs-greater {
    font-size: 2.5em;
  }

  .ss-img {
    width: 100%;
    min-width: 180px;
    max-width: 300px;
  }

  .hs-img {
    width: 100%;
    min-width: 180px;
    max-width: 300px;
  }

}

/*** DESKTOP ***/
@media only screen and (min-width: 1024px) {

}
