/**********************************
Flexbox
***********************************/
.landing-message {
  margin-top: 2.5em;
  color: white;
  font-size: 3.5em;
  letter-spacing: 2px;
  font-weight: 200;
}

.landing-nav {
  margin-top: 40px;
  justify-content: center;
}

.landing-nav p {
  letter-spacing: 0;
  padding: 0 10px;
  font-size: 20px;
  color: grey;
}

.landing-nav img {
  cursor: pointer;
  padding: 0 10px;
  width: 40px;
  height: 40px;
}

.landing-icon:hover {
  background-color: rgba(0,0,0,0.4);
  width: 150px;
  height: 150px;
}


img {
  width: 100%;
}

/**********************************
Media Queries
***********************************/
.landing-img {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../../../assets/webdeveloper.jpg'), no-repeat center;
  background-size: cover !important;
  background-position: 50% 50% !important;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.anim {
  animation-name: cloudFloat;
  -webkit-animation-name: cloudFloat;

  animation-duration: 5s;
  -webkit-animation-duration: 5s;

  animation-iteration-count: infinite;
  -webkit-animation-interation-count: infinite;
}
/**********
Mobile
***********/

@media only screen and (min-width: 480px) {
  .landing-message {
      margin-top: 1em;
  }

  .landing-nav img {
    padding: 0 50px;
  }
}
/**********
Tablet
***********/
@media only screen and (min-width: 768px) {
  .landing-message {
      margin-top: 5.5em;

  }
}

/**********
Desktop
***********/
@media only screen and (min-width: 1024px) {

}


/**********
Keyframes
***********/

.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideUp {
	0% {
    opacity: 0;
		transform: translateY(100%);
	}
	100% {
    opacity: 1;
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideUp {
	0% {
    opacity: 0;
		-webkit-transform: translateY(100%);
	}
	100% {
    opacity: 1;
		-webkit-transform: translateY(0%);
	}
}
